h1 {
    text-align: center;
    font-family: "Cambria";
}
h2 {
    text-align: center;
    font-family: "Cambria";
}
p {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
h3 {
    margin-left: 150px;
}
strong {
    margin-left: 150px;
}
form {
    margin-left: 150px;
}
img {
    height: 800px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}