body {
    background: purple;
}
h1 {
    text-align: center;
    font-family: "Cambria";
}
h2 {
    text-align: center;
    font-family: "Cambria";
}
p {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    font-style: italic;
}
h3 {
    margin-left: 400px;
    font-family: "Cambria";
}
strong {
    margin-left: 360px;
}
form {
    margin-left: 800px;
}
#render-box {
    height: 800px;
    width: 600px;
    border: 1px solid black;
    margin-left: 900px;
}
#comment-box {
    height: 100px;
    width: 250px;
}
img {
    height: 800px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}